body {
    /* background: limegreen; */
    background: black;
    background-size: cover;
    background-repeat: no-repeat;
}

h1#tv_title{
    color: aliceblue; 
    text-align: center;
    font-family: 'Cholontika', sans-serif;
    font-size: 60px;
}

div#tv_cover {
    /* background: red; */
    background: black;
    height: 400px;
    width: 600px;
    margin-top: 10%;
    /* padding: 2%; */
}

button#tv_powerbutton{
    position: relative;
    margin-top: 39%;
    margin-left: 85%;
    opacity: 0;
}

button#nextButton{
    position: relative;
    margin-top: 1%;
    margin-left: 85%;
    opacity: 0;
}

img#tv_frame{
    width: 600px;
    height: 400px;
    position: absolute;
}

div#tv_content {
    background: grey;
    height: 300px;
    width: 400px;
    position: absolute;
    margin-left: 45px;
    margin-top: 35px;
    /* background-image: url("../img/glitch-effect.gif"); */
}

iframe#tv_iframe{
    height: 320px;
    width: 400px;
}

.center {
    margin: auto;
    border: 3px solid #000000;
}

#power_button{
    margin-left: 50%;
    padding: 10px;
}

.round-button {
    width: 65px;        /* Width of the button */
    height: 65px;       /* Height of the button */
    border-radius: 50%; /* Makes the button round */
    background-color: #000000; /* Background color */
    color: white;       /* Text color */
    border: none;       /* Remove default border */
    display: flex;      /* Centering the text */
    align-items: center;/* Centering the text vertically */
    justify-content: center; /* Centering the text horizontally */
    font-size: 16px;    /* Font size */
    cursor: pointer;    /* Pointer cursor on hover */
    text-align: center; /* Center text */
    outline: none;      /* Remove outline */
}

.round-button:hover {
    background-color: #0056b3; /* Darker background on hover */
}

@font-face {
    font-family: 'Cholontika';
    /* src: url('../font/LiShamimCholontikaUnicode-Regular.ttf') format('truetype'); */
    src: url('../font/LiShamimCholontikaUnicode-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}